<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="guyuanjun.com.myvideoplayer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TinyWindowPlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="可使用小窗口模式播放"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RecyclerViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="在RecylerView视频列表中"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ChangeClarityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="在全屏时可以切换清晰度"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".UseInFragActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="在fragment中使用"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProcessHome1Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Activity中时处理播放时按下Home键"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProcessHome2Activity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Fragment中时处理播放时按下Home键"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>